<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset ('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="alert alert-success">
      <h1> Bonjour ceci est votre visite numero {{app.session.get('nbVisite')}}
    </div>

{# <ol class="list-group"> 

{% for name,content in app.session.get('todo') %}
<li class="list group item">

{{name}} : {{content}}
</li>

</ol> #}

</body>
</html>